.education-image {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/src/image/efcabout.jpg);
    width: 100%;
    height: 540px;
    background-size: cover;
}

.education {
    color: white;
    padding-top: 12%;
    margin-bottom: 190px;
}


.education h1 {
    font-size: 72px;
    font-weight: 900;
    font-family: initial;
    width: 59%;
    margin-bottom: 30px;
}

.education p {
    font-size: 16px;
    width: 59%;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 20px;
}

.education button {
    color: white;
    background-color: #006CB6;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    transition: all 200ms linear;
    border: none;
}


.frntdv {
    font-size: 18px;
    padding: 75px 50px;
    /* box-shadow: 0 7px 10px 0 rgb(0 0 0 / 14%); */
    text-align: center;
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.frntdv:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease-in-out;
}

.frntdv-title {
    padding: 50px 0 20px 70px;
}

.frntdv h1 {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 40px;
    color: rgb(157, 156, 156);
}


.frntdv h3 {
    margin: 40px 0 20px;
}



/* Backend */

.bckndv {
    font-size: 18px;
    margin-bottom: 120px;
    padding: 45px 45px 0 45px;
    /* box-shadow: 0 7px 10px 0 rgb(0 0 0 / 14%); */
    text-align: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.bckndv:hover {
    /* box-shadow: 0 7px 10px 0 rgb(0 0 0 / 14%); */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease-in-out;
}


.bckndv-title {
    padding: 50px 0 20px 70px;
}

.bckndv-title h4 {
    margin: 25px 0;
}

.bckndv h1 {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 40px;
    color: rgb(157, 156, 156);
}

.bckndv p {
    width: 90%;
    font-size: 18px;
    margin-bottom: 120px;
}

/* Dizayn */
.dizayn {
    font-size: 18px;
    margin-bottom: 120px;
    padding: 45px 45px 0 45px;
    /* box-shadow: 0 7px 10px 0 rgb(0 0 0 / 14%); */
    text-align: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.dizayn:hover {
    /* box-shadow: 0 7px 10px 0 rgb(0 0 0 / 14%); */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease-in-out;
}


.dizayn-title {
    padding: 50px 0 20px 70px;
}

.dizayn-title h4 {
    margin: 25px 0;
}

.dizayn h1 {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 40px;
    color: rgb(157, 156, 156);
}

.dizayn h3 {
    margin-bottom: 20px;
    color: red;
}

.dizayn-about {
    padding-left: 133px;
}

.dizayn p {
    width: 90%;
    font-size: 18px;
    text-align: center;
}